<script type="text/javascript">

function hide_additional_information_fields() {
	$('#user_specify_institute').parent().slideUp();
	$('#user_specify_degree').parent().slideUp();
	$('#user_specialization').parent().slideDown(); // The behaviour of this fields display properties is the inverse 	
	$('#user_specify_specialization').parent().slideUp();
}

function reset_additional_field_values() 
{
	// Set 'Specify degree' to 'N/A'
	$('#user_specify_degree').val('N/A');
	// Set 'Specify institute' to 'N/A'
	$('#user_specify_institute').val('N/A');
	// Set 'Specialization' to ''
	$('#user_specialization').val('');
	// Set 'Specify specialization' to 'N/A'
	$('#user_specify_specialization').val('N/A');
}

function initialize_additional_fields()
{
	var degree = $('#user_degree').val();
	if(degree == 'Other') {
		$('#user_specify_degree').parent().slideDown();
	} else if(degree == 'Student') {
 		$('#user_specify_institute').parent().slideDown();
 		$('#user_specialization').parent().slideUp();	
	}
	
	var specialization = $('#user_specialization').val();
	
}

 $(function() {
 	
 	hide_additional_information_fields();
 	reset_additional_field_values();
 	
 	$('#user_degree').change(function() {
 		hide_additional_information_fields();
 		reset_additional_field_values();
 		var degree = $(this).val();
 		if(degree == 'Other') {
 			// 1. Set 'Specify degree' to ''
 			// 2. Display 'Specify degree' 			
 			$('#user_specify_degree').val('');
 			$('#user_specify_degree').parent().slideDown();
 			$('#user_specify_degree').focus();
 			
 		} else if(degree == 'Student') {
 			// 1. Set 'Specify Institute' to ''
 			// 2. Set 'Specialization' to 'Other'
 			// 3. Set 'Specify specialization' to 'Student' 
 			// 4. Hide 'Specialization'
 			// 5. Display 'Specify institute' 
 			$('#user_specify_institute').val('');
 			$('#user_specialization').val('Other');
 			$('#user_specify_specialization').val('Student');
 			$('#user_specify_institute').parent().slideDown();
 			$('#user_specialization').parent().slideUp();	
 			$('#user_specify_institute').focus();
 		} 
 	});
 	
 	$('#user_specialization').change(function() {
 		var specialization = $(this).val();
 		if(specialization == 'Other') {
 			$('#user_specify_specialization').val('');
 			$('#user_specify_specialization').parent().slideDown();	
 			$('#user_specify_specialization').focus();
 		} else {
 			$('#user_specify_specialization').val('N/A');
 			$('#user_specify_specialization').parent().slideUp();	
 		}
 	});
 });
</script>

<div id="banner" class="prepend-top"><img src="/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>
<div class="span-24 last prepend-top">
	<div class="span-12">
		<div id="content" class="content">
			<h1>Register</h1>
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>
			
			<p><%= f.label "First Name" %><br />
			  <%= f.text_field :name %></p>
			
			<p><%= f.label :last_name %><br />
			  <%= f.text_field :last_name %></p>
			
			<p><%= f.label :address %><br />
			  <%= f.text_area :address, :rows => 10 %></p>
			
			<p><%= f.label :city %><br />
			  <%= f.text_field :city %></p>
			
			<p><%= f.label :pincode %><br />
			  <%= f.text_field :pincode %></p>
			
			<p><%= f.label :state %><br />
			  <%= f.text_field :state %></p>
			
			<p><%= f.label :phone %><br />
			  <%= f.text_field :phone %></p>
			
			<p><%= f.label :degree %><br />
			<%= select(:user, :degree, [[''],['M.D.'], ['D.M.'], ['D.N.B'], ['M.B.B.S'],['Student'],['Other']]) %>
			
			<p><%= f.label "Specify Institution" %><br />
			  <%= f.text_field :specify_institute %></p>
			
			<p><%= f.label "Specify Degree" %><br />
			  <%= f.text_field :specify_degree %></p>
			
			<p><%= f.label :specialization %><br />
			<%= select(:user, :specialization, [[''],['Cardiologist'], ['Diabetologist'], ['Consulting Physicial'], ['General Physician'],['Nephrologist'],['Neurologist'],['Other']]) %>
			
			<p><%= f.label "Specify Specialization" %><br />
			  <%= f.text_field :specify_specialization %></p>
			
			  <p><%= f.label :email %><br />
			  <%= f.email_field :email %></p>
			
			  <p><%= f.label :password %><br />
			  <%= f.password_field :password %></p>
			
			  <p><%= f.label :password_confirmation %><br />
			  <%= f.password_field :password_confirmation %></p>
			
			  <p><%= f.submit "Register" %></p>
			<% end %>
			
			<%= render :partial => "devise/shared/links" %>
		</div>
	</div>
	<div class="span-12 last">
		<div id="content" class="content note note-color note-orange" style="min-height: 0px;">
			<h1>Membership benefits</h1>
			<p>Text to convince the user to register. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p>Text to convince the user to register. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p><a href="/users/sign_up" class="button">Register</a></p>
		</div>		
	</div>
</div>
