<p id="notice"><%= notice %></p>

<p>
<%=  @download.title  %>

</p>

<p>
  <b>Description:</b>
  <%= @download.description.html_safe %>
</p>

<p>
<%= link_to "Download", @download.attachment.url  %>

</p>
<%= link_to 'Back', downloads_path %>
