<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @trial.title %>
</p>

<p>
  <b>Description:</b>
  <%= @trial.description %>
</p>


<%= link_to 'Edit', edit_trial_path(@trial) %> |
<%= link_to 'Back', trials_path %>
