<div id="banner" class="prepend-top"><img src="/images/header_clinical_trials.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="content prepend-top">
<p id="notice"><%= notice %></p>
<h2><%= @trial.title %></h2>
<p>
  <%= @trial.description.html_safe %>
</p>
<p>
<%= link_to @trial.attachment_file_name, @trial.attachment.url  %>
</p>
<p>
  <% unless @trial.references.nil? %>
  <p>References</p>
  <%= @trial.references.html_safe %>
  <% end %>
</p>
<!-- <%= link_to 'Edit', edit_trial_path(@trial) %> | -->
<%= link_to 'Back', trials_path %>
</div>

