<div id="banner" class="prepend-top"><img src="/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="content prepend-top">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @trial.title %>
</p>

<p>
  <b>Description:</b>
  <%= @trial.description.html_safe %>
</p>

<p>
<%= link_to @trial.attachment_file_name, @trial.attachment.url  %>
</p>

<%= link_to 'Edit', edit_trial_path(@trial) %> |
<%= link_to 'Back', trials_path %>
</div>

