<h1>Listing webcasts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @webcasts.each do |webcast| %>
  <tr>
    <td><%= webcast.title %></td>
    <td><% videotron = UnvlogIt.new(webcast.link) %><%= videotron.embed_html(133, 118) %></td>
    <td><%= webcast.description %></td>
    <td><%= link_to 'Show', webcast %></td>
    <td><%= link_to 'Edit', edit_webcast_path(webcast) %></td>
    <td><%= link_to 'Destroy', webcast, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Webcast', new_webcast_path %>
