
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @webcast.title %>
</p>

 <p><% videotron = UnvlogIt.new(@webcast.link) %>
  <%= videotron.embed_html(300, 266).html_safe %></p>


<p>
  <b>Description:</b>
  <%= @webcast.description %>
</p>


<%= link_to 'Edit', edit_webcast_path(@webcast) %> |
<%= link_to 'Back', webcasts_path %>
