<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
    	effect:'fade',
    	directionNav:false,
    	controlNav:false
    });
   $('#news').innerfade({ animationtype: 'fade', speed: 750, timeout: 4000, type: 'sequence', containerheight: '1em' });	
});
</script>
<div id="banner" class="prepend-top">
	<div id="slider" class="nivoSlider">		
		<img src="/mainapp/public/images/slider_001.jpg" alt="Awaken to health and happiness" />
		<img src="/mainapp/public/images/slider_002.jpg" alt="Awaken to health and happiness" />
	</div>
</div>
<div class="span-24 last prepend-top">
	<div class="span-20">
		<div class="span-10 note" style="min-height: 228px;">
			<div class="content-padding">
				<h1>CV News</h1>
				<div style="min-height: 100px;">
					<ul id="news">
<% @updates.each do |update| %>
    <l1><%= truncate(update.overview, :length => 230).html_safe %></li>
<% end %>

					</ul>
				</div>
				<div>					
					<a href="/mainapp/public/updates">More...</a>
				</div>
			</div>
		</div>
		<div class="span-10 last">

    <% videotron = UnvlogIt.new(@webcasts.link) %><%= videotron.embed_html(390, 231).html_safe %>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="span-10 note note-color note-brown">
			<div class="content-padding">
			<h1>Register with us!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			<p><a href="/mainapp/public/users/sign_up" class="button">Register</a></p>
			</div>
		</div>
		<div class="span-10 last note note-color note-orange">
			<div class="content-padding">
			<h1>The iRaas Journal</h1>
			<p><%= truncate(@iraas_journal.description, :length => 230).html_safe %> <%= link_to 'Know More', @iraas_journal  %></p>
			<p><a href="<%= @iraas_journal.attachment.url %>" class="button">Download</a></p>
			</div>
		</div>		
		<div class="clear">&nbsp;</div>
	</div>	
	<div class="span-4 last note-post-it rounded-corners sidebar">
		<div class="content-padding">
			<h1>Advertising</h1>
                         <% @banners.each do |banner| %>
                     <tr>
    <td><%=image_tag banner.banner(:thumb) %></td>
  </tr>
<% end %>
		</div>
	</div>
</div>
