<h1>Listing events</h1>

<table>
  <tr>
    <th>Topic</th>
    <th>From Date</th>
    <th>To Date</th>   
    <th>Organization</th>
    <th>More info</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
<% if ( event.todate - Date.today() ).to_i >= 0 %>
  <tr>
    <td><%= event.topic %></td>
    <td><% e = event.date %><%= e.strftime("%d %B %Y") %></td>
    <td><% t = event.todate %><%= t.strftime("%d %B %Y") %></td>
    <td><%= event.organization %></td>
    <td><%= truncate(event.more_info, :length => 200, :omission => '... (continued)') %></td>
    <td><%= event.location %></td>
    <td><%= link_to 'Show', event %></td>
  </tr>
<% end %>
<% end %>

</table>

<br />
<%= paginate @events %>
<!-- <%= link_to 'New Event', new_event_path %> -->
