<div id="banner" class="prepend-top"><img src="/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="content prepend-top">
<h1>Listing updates</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Overview</th>
    <th>Description</th>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @updates.each do |update| %>
  <tr>
    <td><%= update.title %></td>
    <td><%= update.overview %></td>
    <td><%= update.description %></td>
    <td><%= update.references %></td>
    <td><%= link_to 'Show', update %></td>
  </tr>
<% end %>
</table>

<br />

</div>



