<div id="banner" class="prepend-top"><img src="/mainapp/public/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>
<h1>CV News</h1>
<% @updates.each do |update| %>
	<div id="content" class="content prepend-top">
    <h2><%= update.title %></h2>
    <p><%= update.overview %></p>
    <!--
    <td><%= truncate(update.description, :length => 200, :separator => 'More') %></td>
    <td><%= update.references %></td>
    -->
    <p><%= link_to 'More...', update %></p>
    </div>
<% end %>
<%= paginate @updates %>


