<div id="banner" class="prepend-top"><img src="/images/header_cv_news.jpg" alt="Awaken to health and happiness" /></div>
<% @updates.each do |update| %>
	<div id="content" class="content prepend-top">
    <h2><%= update.title %></h2>
    <p><%= update.overview.html_safe %></p>
    <!--
    <td><%= truncate(update.description.html_safe, :length => 200, :separator => 'More') %></td>
    <td><%= update.references %></td>
    -->
    <p><%= link_to 'More...', update %></p>
    </div>
<% end %>
<%= paginate @updates %>


