<div id="banner" class="prepend-top"><img src="/images/header_cv_news.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="note prepend-top">
	<p id="notice"><%= notice %></p>
	<h2><%= @update.title %></h2>

	<p>
	  <b>Overview:</b>
	  <%= @update.overview.html_safe %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @update.description.html_safe %>
	</p>
	
	<p>
        <% unless @update.references.blank? || @update.references.nil? %>
	  <b>References:</b>
	  <%= @update.references.html_safe %>
        <% end %>
	</p>
<p>
 <% unless @update.attachment_file_name.nil? %>
<%= link_to @update.attachment_file_name, @update.attachment.url  %>
<% end %>
</p>
	<!-- <%= link_to 'Edit', edit_update_path(@update) %> | -->
	<%= link_to 'Back', updates_path %>
</div>






