<%= form_for(@drug_info, :html => { :multipart => true }) do |f| %>
  <% if @drug_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug_info.errors.count, "error") %> prohibited this drug_info from being saved:</h2>

      <ul>
      <% @drug_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
<div class="field">
  <%= f.file_field :attachment_drug %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
