<style>
ul.pagination {
  list-style: none;
  color: lightgray;
  padding: 1em 0.5em;
}

ul.pagination strong {
  color: black;
}

ul.pagination li {
  display: inline;
  font-size: 1.1em;
}

ul.pagination li:before {
  content: '| ';
}

</style>

<div id="banner" class="prepend-top"><img src="/images/header_drug_info.jpg" alt="Awaken to health and happiness" /></div>

<% form_tag drug_info_search_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="content" class="span-24 last prepend-top">
	<div class="note">
		<%= alphabetically_paginate(@drug_infos) %>
	</div>
</div>		
<% @drug_infos.each do |drug_info| %>
	<div class="span-24 last prepend-top">
		<div class="note">
		    <h2><%= drug_info.title %></h2>
		    <p><%= truncate(drug_info.indications, :length => 200, :separator => 'More').html_safe %></p>
		    <p><%= link_to 'Show', drug_info %></p>
	    </div>
    </div>	
<% end %>






