<style>
ul.pagination {
  list-style: none;
  color: lightgray;
  padding: 1em 0.5em;
}

ul.pagination strong {
  color: black;
}

ul.pagination li {
  display: inline;
  font-size: 1.1em;
}

ul.pagination li:before {
  content: '| ';
}

</style>

<div id="banner" class="prepend-top"><img src="/mainapp/public/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>

<% form_tag drug_infos_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id=content>
<% if @drug_search %>
 <% for info in @drug_search %>
  <h2>
    <%= link_to h(info.title), info %>
  </h2>
  <div><%= simple_format(info.action) %></div>
<% end %>
<% end %>
</div>

<div id="content" class="content prepend-top">
	<h1>Drug Info</h1>
<%= alphabetically_paginate(@drug_infos) %>

<table>
  <tr>
    <th>Title</th>
    <th>Action</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drug_infos.each do |drug_info| %>
  <tr>
    <td><%= drug_info.title %></td>
    <td><%= drug_info.action %></td>
    <td><%= link_to 'Show', drug_info %></td>
  </tr>
<% end %>
</table>
</div>


