<div id="banner" class="prepend-top"><img src="/images/header_drug_info.jpg" alt="Awaken to health and happiness" /></div>

<div id="content" class="note prepend-top">
	<h1>Drug Info</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @drug_info.title %>
</p>

<p>
  <b>Action:</b>
  <%= @drug_info.action.html_safe %>
</p>

<p>
  <b>Indications:</b>
  <%= @drug_info.indications.html_safe %>
</p>

<p>
  <b>Interaction:</b>
  <%= @drug_info.interaction.html_safe %>
</p>
<p>
<% unless @drug_info.attachment_drug_file_name.nil? %>
 <%= link_to @drug_info.attachment_drug_file_name, @drug_info.attachment_drug.url  %>
<% end %>
</p>



<%= link_to 'Back', drug_infos_path %><br />

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f06c4e74af81e70"></script>
<!-- AddThis Button END -->
</div>




