<!DOCTYPE html>
<html>
<head>
  <title>Glenmark</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js", "jquery.rails.js", "application.js" %>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= javascript_include_tag :ckeditor %>
  <%= csrf_meta_tag %>
</head>
<body>


 <div id="user_nav">

  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div> <br />

<ul id="nav">
    <li><%= link_to 'Banners', banners_path %></li>
    <li><%= link_to 'Druf Info', drug_infos_path %></li>
    <li><%= link_to 'Events', events_path %></li>
    <li><%= link_to 'Pages', pages_path %></li>
    <li><%= link_to 'Trials', trials_path %></li>
    <li><%= link_to 'News', updates_path %></li>
    <li><%= link_to 'Webcasts', webcasts_path %></li>
</ul>


<%= yield %>

</body>
</html>
