<div id="banner" class="prepend-top"><img src="/mainapp/public/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="content prepend-top">
<h2>Register</h2>

<script type="text/javascript">
 $(function() {
 	alert('jQuery loaded');
 });
</script>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<p><%= f.label :name %><br />
  <%= f.name :name %></p>

<p><%= f.label :address %><br />
  <%= f.address :address %></p>

<p><%= f.label :city %><br />
  <%= f.city :city %></p>

<p><%= f.label :pincode %><br />
  <%= f.phone :pincode %></p>

<p><%= f.label :state %><br />
  <%= f.phone :state %></p>

<p><%= f.label :phone %><br />
  <%= f.phone :phone %></p>

<p><%= f.label :specialization %><br />
  <%= f.specialization :specialization %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
